<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Mediatheque</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                <ul class="nav navbar-nav">
                   <!-- <li><a href="#" th:href="@{movie/new}">Create Movie</a></li> -->
                </ul>

            </div>
        </div>
    </nav>

    <div th:if="${not #lists.isEmpty(movies)}">
        <h2>Movie List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Movie Id</th>
            </tr>
            <tr th:each="movie : ${movies}">
                <td th:text="${movie.id}"><a href="/movies/${movie.id}">Id</a></td>
                <td><a th:href="${ '/movie/' + movie.id}">View</a></td>
                <td><a th:href="${'/movie/edit/' + movie.id}">Edit</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>