<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/guru.css"
          th:href="@{css/guru.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{music/musics}">Musics</a></li>
                        <li><a href="#" th:href="@{movie/movies}">Movies</a></li>
                        <li><a href="#" th:href="@{tvshow/tvshows}">Tv Shows</a></li>

                        <!--<li><a href="#" th:href="@{/music/new}">Create Music</a></li>-->
                    </ul>

                </div>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h2>Mediatheque</h2>



                </div>
            </div>
            <div class="row text-center">
                <img src="../../static/images/homepage.jpg" width="400"
                     th:src="@{/images/homepage.jpg}"/>
                <h3><i>by Darcy Guillaume, Begarin Nicolas ....</i></h3>
                <h3><i>... Cattez William, Tierrie Pierre-Henri</i></h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>